{% load static %}
<!DOCTYPE html>
<html> 
    <head>
        <title>My Django Blog on Heroku</title>
        <link type="text/css" rel="stylesheet" href="{% static 'django_blog.css' %}">
        <link rel="icon" type="image/png" href="{% static 'favicon-1.png'  %}">
    </head>
    <body>
        <div id="container">
            <div id="content">
                {% block content %}
                [ content will go here ]
                {% endblock %}
            </div>
        </div>
    </body>
</html>